.listpage {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
    position:relative;
    z-index:1;
}
.listpage:after{
    /* background-image: url("/images/main_background.jpg"); */
    top:0;
    left:center;
    position:absolute;
    background-size:100%;
    opacity:0.4!important;
    filter:alpha(opacity=40);
    z-index:-1;
    content:"";
    width:70%;
    height:70%;
}

.ShotDetail{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
}

.Setting{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
}

.SettingButton
{
    float: right;
    margin-top: -40px;
}

.ui.input {
    width: 270px;
}

.preblack{
    margin-top: 5px;
    margin-bottom: 5px;
}

.ui.statistic>.value, .ui.statistics .statistic>.value{
    font-size: 3rem!important;

}