.listpage {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
    position:relative;
    z-index:1;
    
}
/* .background{
    background-image: url(/images/main_background.jpg);
    background-size: 300px;

    background: rgba(255, 0, 0, 0.4);
} */
.listpage:after{
    background-image: url(/images/main_background.jpg);
    top: 13px;
    left: 5px;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 100px;
    opacity: 0.3!important;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
}

.ShotDetail{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
}

.Setting{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 10px;
}

.SettingButton
{
    float: right;
    margin-top: -51px;
}

.ui.input {
    width: 270px;
}

.prefront{
    margin-top: 5px;
    margin-bottom: 5px;
    float:left;
}

.preback{
    margin-top: 5px;
    margin-bottom: 5px;
    float :right;
}

.ui.statistic>.value, .ui.statistics .statistic>.value{
    font-size: 3rem!important;

}
.ui.selection.dropdown {
    min-width: 9em;
}

.pagetitle{
    text-align: center;
}

.ui.icon.button, .ui.icon.buttons .button{
    padding: 8px;
}

.Count{
    margin-left: 40px;
}
.ui.card{
    left: 10px;
}

.ShotDetail2{
    position: relative;
    top: -32px;
}