<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>총있음쐈다</title>

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      rel="stylesheet"
    />
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet" />
    <link href="css/full-slider.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet" />


    <!-- google fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700">
    <link href="https://fonts.googleapis.com/css?family=Timmana" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">총있음 쐈다</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#section1"
                >Home <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section1">Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section2">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#section6">Contract</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <header class="header15" id="header15">
        <div class="intro center-vertically">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-content text-center">
                            <div class="svg-logo"></div>
                            <h1 class="margin-auto">Discover a New World</h1>
                            <p>You were put on this earth to achieve your greatest self, to live out your purpose, and
                                to do it courageously.</p>
                            <a href="#" class="btn btn-info button">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </header><!-- Content section 12 -->

    <!-- Page Content -->
    <div class="container marketing">
      
      <!-- START THE FEATURETTES -->

  
      <hr class="featurette-divider" id="section2" />

      <div class="row featurette">
        <div class="col-lg-12"><h2 class="my-4">Team</h2></div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img
            class="rounded-circle img-fluid d-block mx-auto"
            src="img/heekyeom.jpg"
            alt=""
          />
          <h2>김희겸 <small>CEO</small></h2>
          <p>역할 : AWS 배포, 얼굴인식 API 관리</p>
          <p>좋아하는일 : 열정, 팀원 채찍질</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img
            class="rounded-circle img-fluid d-block mx-auto"
            src="img/binsan.jpg"
            alt=""
          />
          <h2>송빈산 <small>CTO</small></h2>
          <p>역할 : 서버 관리, 이미지 처리</p>
          <p>좋아하는일 : 일 줄이기</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img
            class="rounded-circle img-fluid d-block mx-auto"
            src="img/yongjae.jpg"
            alt=""
          />
          <h2>함용재 <small>건물주</small></h2>
          <p>역할 : 애니메이션 제작, UI 디자인</p>
          <p>특징 : 사무실 제공, 사랑꾼</p>
        </div>
      </div>

      <!-- /END THE FEATURETTES -->
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 三合會</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function() {
        // Add scrollspy to <body>
        $("body").scrollspy({
          target: ".navbar",
          offset: 50
        });

        // Add smooth scrolling on all links inside the navbar
        $("#myNavbar a").on("click", function(event) {
          // Make sure this.hash has a value before overriding default behavior
          if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();

            // Store hash
            var hash = this.hash;

            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $("html, body").animate(
              {
                scrollTop: $(hash).offset().top
              },
              800,
              function() {
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
              }
            );
          } // End if
        });
      });
    </script>
  </body>
</html>
